#heading {
    animation: moveInLeft 2s;
    animation-timing-function: ease-in-out;
    font-size: 5em;

    @include response(phone){
        font-size: 2.75rem;
    }     
    &_sub{
        padding-top: 5%;
        padding-bottom: 15%;
        font-size: 3em;
        font-weight: 200;
        color:$color-off-white;
        animation: moveInRight 2s;
        animation-timing-function: ease-in-out;  
        @include response(phone){
            font-size: 2.5rem;
        }      
    }    
    @include response(tabPort){
        font-size: 4rem;
    }
    @include response(tabLand){
        font-size: 4rem;
    }
    @include response(bd){
        font-size: 5rem;
    }     
}