$color-primary:#0d47a1;
$color-primary-light:#4285F4;
$color-off-white: #fafafa;
$color-info:#42B3F4;
$color-black: #000000;
$color-white: #FFFFFF;
$color-dark:#263238;
$color-light-blue: #fffde7;
$color-gray-light-1:#f7f7f7;

$text-dark: #263238;
$text-off-white: $color-off-white;

$fade-primary: linear-gradient(to right, rgba($color-primary, .25), rgba($color-primary, .75));
